doctype html
html
	head
		title Talking Tomes
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway&effect=outline' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		header#list-header.clearfix
			.wide-wrapper
				a(href="index.html")#logo Talking Tomes
				nav
					ul
						li: a(href="list-of-tomes.html") Explore
						li: a(href="#") Contribute
						li: a(href="#") About
		#tomes-show
			#tomes-show-banner
				.skinny-wrapper
				h1.font-effect-outline Tome's Titles
				p.tome-description Insert some long long and windy description here.
				include ../_includes/audio.jade
			#breadcrumb
				a(href="list-of-tomes.html") All Talking Tomes
					span /
					a(href="tome-show.html") Tome's Titles
						span /
						a(href="#") More child
			#episode-audio-text
				.skinny-wrapper
					ul.clearfix
						li.clearfix
							.episode-text-only
								h5 Duration: 03:00 - 04:00
								h2
									a(href="#") How to do anything anywhere chapter 1 
								p(align="justify") Sensory otaku girl human smart-systemic neon narrative tattoo knife office sunglasses A.I. decay pen. Girl denim RAF refrigerator bridge sunglasses systema apophenia man ablative vinyl neon table Legba. Smart-kanji hotdog ablative film paranoid franchise receding carbon cardboard chrome advert tanto lights sunglasses camera. Dome soul-delay denim gang shanty town man disposable shrine monofilament systemic neural tanto stimulate. Military-grade neural motion dead bomb youtube j-pop RAF futurity paranoid man augmented reality. Knife dissident youtube DIY math-free-market corrupted monofilament semiotics nano-nodal point A.I. beef noodles futurity drugs city. Post-grenade cartel range-rover assassin advert monofilament. Chrome Tokyo office systemic physical cartel face forwards nodal point skyscraper computer. Fetishism military-grade boy table courier systema bomb engine footage assault. 
								h5 Duration: 04:00-05:00
								p(align="justify") Sensory otaku girl human smart-systemic neon narrative tattoo knife office sunglasses A.I. decay pen. Girl denim RAF refrigerator bridge sunglasses systema apophenia man ablative vinyl neon table Legba. Smart-kanji hotdog ablative film paranoid franchise receding carbon cardboard chrome advert tanto lights sunglasses camera. Dome soul-delay denim gang shanty town man disposable shrine monofilament systemic neural tanto stimulate. Military-grade neural motion dead bomb youtube j-pop RAF futurity paranoid man augmented reality. Knife dissident youtube DIY math-free-market corrupted monofilament semiotics nano-nodal point A.I. beef noodles futurity drugs city. Post-grenade cartel range-rover assassin advert monofilament. Chrome Tokyo office systemic physical cartel face forwards nodal point skyscraper computer. Fetishism military-grade boy table courier systema bomb engine footage assault. 
								h5 Duration: 05:00-06:00
								p(align="justify") Sensory otaku girl human smart-systemic neon narrative tattoo knife office sunglasses A.I. decay pen. Girl denim RAF refrigerator bridge sunglasses systema apophenia man ablative vinyl neon table Legba. Smart-kanji hotdog ablative film paranoid franchise receding carbon cardboard chrome advert tanto lights sunglasses camera. Dome soul-delay denim gang shanty town man disposable shrine monofilament systemic neural tanto stimulate. Military-grade neural motion dead bomb youtube j-pop RAF futurity paranoid man augmented reality. Knife dissident youtube DIY math-free-market corrupted monofilament semiotics nano-nodal point A.I. beef noodles futurity drugs city. Post-grenade cartel range-rover assassin advert monofilament. Chrome Tokyo office systemic physical cartel face forwards nodal point skyscraper computer. Fetishism military-grade boy table courier systema bomb engine footage assault. 
