doctype html
html
	head
		title Talking Tomes
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway&effect=outline' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		#background
			header.clearfix
				.wide-wrapper
					a(href="index.html")#logo Talking Tomes
					nav
						ul
							li: a(href="list-of-tomes.html") Daftar Buku
							li: a(href="#") Kontribusi
							li: a(href="#") Tentang Pembuat
			.skinny-wrapper
				h1.font-effect-outline Bayangkan jika buku anda bisa berbicara dan 
				h2.font-effect-outline dinarasikan oleh pengarang aslinya!
				a(href="list-of-tomes.html").button Lihat daftar buku
				a(href="#").button Saya ingin berkontribusi
