doctype html
html
	head
		title Talking Tomes
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway&effect=outline' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		header#list-header.clearfix
			.wide-wrapper
				a(href="index.html")#logo Talking Tomes
				nav
					ul
						li: a(href="list-of-tomes.html") Daftar Buku
						li: a(href="#") Kontribusi
						li: a(href="#") Tentang Pembuat
		#banner.tome-banner
			h1.font-effect-outline Belajar tidak pernah membuat lelah
			p.list-description.font-effect-outline (Leonardo Da Vinci)
		#tomes.clearfix
			.wrapper
				ul
					include ../_includes/tome-01.jade
					include ../_includes/tome-02.jade
					include ../_includes/tome-03.jade
					include ../_includes/tome-04.jade
					include ../_includes/tome-05.jade
					include ../_includes/tome-06.jade
					include ../_includes/tome-07.jade
					include ../_includes/tome-08.jade
					include ../_includes/tome-09.jade
					include ../_includes/tome-10.jade
					include ../_includes/tome-11.jade
					include ../_includes/tome-12.jade
					include ../_includes/tome-13.jade
					include ../_includes/tome-14.jade

					//failed attempt
					//.side-corner-tag
						img(src="http://www.fillmurray.com/200/200", alt="")
						p: span Newest

		.pagination
			a.next-page(href="list-of-tomes-2.html") 
				| Sebelumnya
			a(rel="next", href="list-of-tomes.html")   
				| 1
			a(rel="next", href="list-of-tomes-2.html") 
				| 2
			em.current 
				| 3
			a(rel="next", href="list-of-tomes-4.html") 
				| 4
			a.next-page(href="list-of-tomes-4.html") 
				| Berikutnya