doctype html
html
	head
		title Talking Tomes
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway&effect=outline' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		header#list-header.clearfix
			.wide-wrapper
				a(href="index.html")#logo Talking Tomes
				nav
					ul
						li: a(href="list-of-tomes.html") List of Tomes
						li: a(href="#") Contribute
						li: a(href="#") About