doctype html
html
	head
		title Sushi Podcast
		link(rel="stylesheet", href="_scss/main.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	body
		#background
			header
				a#logo(href="#") Sushi Podcast
				nav
					ul
						li: a(href="#") Channels
						li: a(href="#") Contribute
						li: a(href="#") About
		h1 Chunk of goodness, delivered everyday from ears to brain!
		a.button.button-chosen(href="#") I want to make my own podcast!
		a.button.button-unchosen(href="#") I want to explore first!
