#cp_widget_65534f15-8c72-4b7f-8d32-fa21ccefe9ec ...
script(type='text/javascript').
  var cpo = []; cpo["_object"] ="cp_widget_65534f15-8c72-4b7f-8d32-fa21ccefe9ec"; cpo["_fid"] = "AAJAf5MnIh2x";
  var _cpmp = _cpmp || []; _cpmp.push(cpo);
  (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
  cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
  var c = document.getElementsByTagName("script")[0];
  c.parentNode.insertBefore(cp, c); })();
noscript
  | Powered by Cincopa 
  a(href='http://www.cincopa.com/video-hosting') Video Hosting for Business
  |  solution.
  span New Gallery 2015/9/11
  span Lazy Web Outro
  span by Terra Monk