/* background, header and nav for homepage */
#background
	background-image: url(../_assets/img/bg3.jpg)
	height: 100vh
	background-size: cover
	background-position: center
	text-align: center
	header
		padding: 3rem 0
		#logo
			text-transform: uppercase
			color: $highlight
			float: left
			font-weight: 700
			text-decoration: none
		nav
			float: right
			ul
				list-style: none
				margin: 0
				li
					display: inline
					margin-left: 2rem
					a
						color: $highlight
						text-decoration: none
						&:hover
							color: $downlight
	h1
		color: $downlight
		font-size: 3rem
		font-weight: 300
		letter-spacing: 1px
		margin: 7rem 0 2rem 0

#list-header
	padding: 3rem 0
	#logo
		text-transform: uppercase
		color: $dark
		float: left
		font-weight: 700
		text-decoration: none
	nav
		float: right
		ul
			list-style: none
			margin: 0
			li
				display: inline
				margin-left: 2rem
				a
					color: $dark
					text-decoration: none
					&:hover
						color: $highlight


#banner
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	margin-bottom: 3rem
	h1
		text-align: center
		color: $downlight
		font-size: 3rem
		font-weight: 300
		letter-spacing: 1px
		margin: 0
		padding: 4rem 0 0.75rem
	p
		font-size: 1rem
		padding: 0 0 2.8rem
		text-align: right

.tome-banner
	//background: $dark
	background-image: url(../_assets/img/tome.jpg)

#tomes
	padding-bottom: 3rem
	ul
		list-style: none
		padding-left: 0
		margin: 0
		li
			width: 23%
			float: left
			margin: 0 1% 2rem 1%
			-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25)
			box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25)
			border-radius: 0.3rem
			img
				width: 100%
				max-width: 100%
			.overview
				padding: 1rem 7.5%
				h2
					margin: 0
					font-size: 1rem
					font-weight: 700
					color: $dark
				.naration
					color: $highlight
					font-size: 0.9rem
			&:hover
				img
					opacity: 0.7

#tomes-show
	#tomes-show-banner
		background: $dark
		text-align: center
		padding: 2rem 0
		//background-image: url(../_assets/img/bg.jpg)
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		//margin-bottom: 3rem

.tome-description
	width: 50%
	margin: 0 auto 2rem auto
	color: $downlight

.list-description
	width: 50%
	margin: auto
	color: $downlight
	margin: 0 auto 1rem

#breadcrumb
	padding: 1rem
	text-align: center
	border-bottom: 1px solid lighten($dark, 70%)
	font-weight: 700
	font-size: 1rem
	a
		color: lighten($dark, 50%)
		text-decoration: none

span
	margin: 1rem


/* chapter or episode */
#chapter-or-episode
	padding: 3rem 0
	ul
		list-style: none
		padding-left: 0
		li
			padding-bottom: 2rem
			margin-bottom: 2rem
			border-bottom: 1px solid lighten($dark, 70%)
			&:last-child
				border-bottom: none
			.chapter-thumbnail
				width: 20%
				float: left
				img
					width: 8rem
					max-width: 100%
					border-radius: 0.4rem
			.chapter-synopsis
				width: 78.5%
				float: left
				margin-left: 1.5%
				h2
					a
						color: $dark
						text-decoration: none

/* chapter or episode */
#episode-audio-text
	padding: 3rem 0
	ul
		list-style: none
		padding-left: 0
		li
			padding-bottom: 2rem
			margin-bottom: 2rem
			border-bottom: 1px solid lighten($dark, 70%)
			&:last-child
				border-bottom: none
			.episode-text-only
				width: 100%
				float: left
				margin-left: 1.5%
				h2
					a
						color: $dark
						text-decoration: none

/* pagination */
.pagination:before,
.pagination:after
	content: " "
	display: table

.pagination:after
	clear:both

.pagination
	text-align: center
	margin: 3rem 0 5rem 0
	a, .previous-page, .current, .next-page
		padding: 0.75em 1em
		margin: 0 0.25em
		border-radius: 0.15em
		line-height: 1.25
		background: white
		font-weight: 700
		font-size: 1em
		font-style: normal
		text-decoration: none
		color: $dark
		&:hover
			background: $highlight
			color: white
	.current
		background: $highlight
		color: white
	.disabled
		color: $light
		&:hover
			color: #C0C0C0
			background: white